#group_list
{	margin: 0;
	padding: 0;
	z-index: 30;
        border-top:0; 
}

#group_list li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
        border-top:0;
        border-bottom:0;
}

#group_list li:first-child{
    border-top:0;

}

#group_list li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 1px 1px;
	width: 25px;
	height: 25px;
	/*background: #5970B2;*/
	color: #FFF;
	text-align: center;
	text-decoration: none;
        z-index: 30;      
}

#group_list li a:active
{	background: #8695d5}

#group_list div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 2px solid #1547a2;
        -moz-border-radius: 5px;
        border-radius: 5px; 
        z-index:30;
}

#group_list div a
{	position: relative;
        display: block;
        margin: 0;
        padding: 5px 6px;
        width: auto;
        white-space: nowrap;
        text-align: left;
        text-decoration: none;
        background:white;
        color: #1547a2;;
        font: 11px arial;
        cursor: default;
        font-size:14px;
        
}
